* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-image: url(../images/gaming-pattern.png);
}
header {
  background: white;
}
header > h1 {
  text-align: center;
  color: rgba(0, 255, 200, 0.445);
  background-color: rgba(87, 85, 141, 0.61);
  border-bottom: 2px solid rgba(0, 0, 0, 0.747);
}
.level {
  text-align: center;
  padding: 10px;
  margin: 10px;
  margin-bottom: 5rem;
}

.container-main {
  border: 2px solid black;
  border-radius: 50%;
  width: 75%;
  margin: 0 auto;
  padding: 1.5rem;
  background: url("../images/wood-bg.jpg") no-repeat center;
  background-size: 100%;
}

.container__content-1 > div {
  border: 2px solid black;
  border-radius: 10px;
  padding: 1rem;
}
.container__content-2 > div {
  border: 2px solid black;
  border-radius: 10px;
  padding: 1rem;
}
.container__content-1 {
  display: flex;
  text-align: center;
  width: 50%;
  margin: 10px auto;
  font-size: 2.2rem;
  padding: 0.5rem;
}
.container__content-2 {
  display: flex;
  text-align: center;
  width: 50%;
  margin: 10px auto;
  font-size: 2.2rem;
  padding: 0.5rem;
}
.container__content-1:hover {
  cursor: pointer;
}
.container__content-2:hover {
  cursor: pointer;
}
.content-1 {
  flex: 1;
  margin-right: 0.5rem;
}
.content-2 {
  flex: 1;
  margin-right: 0.5rem;
}
.green {
  background: rgba(1, 133, 1, 0.7);
}
.red {
  background: rgba(255, 0, 0, 0.7);
}
.yellow {
  background: rgba(255, 255, 0, 0.7);
}
.blue {
  background: rgba(0, 0, 255, 0.7);
}
.start_button {
  margin: 1.2rem auto;
  width: 200px;
  border: 2px solid white;
  border-radius: 10px;
  padding: 0.5rem;
  left: 150px;
  background-color: rgba(0, 255, 255, 0.705);
}
.start_button > p {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  color: rgba(133, 15, 133, 0.671);
}
.start_button:hover {
  cursor: pointer;
}
.green-glow {
  border: 6px solid #4dcc7d;
  box-shadow: 0 0 30px #31b43a;
}
.red-glow {
  border: 6px solid #fc121b;
  box-shadow: 0 0 30px #d01115;
}
.yellow-glow {
  border: 6px solid #e3e618;
  box-shadow: 0 0 30px rgb(192, 196, 6);
}
.blue-glow {
  border: 6px solid #142cdf;
  box-shadow: 0 0 30px #1f2b89;
}
