* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-image: url(../images/gaming-pattern.png);
}

header {
  background: white;
}
header > h1 {
  text-align: center;
  color: rgba(0, 255, 200, 0.445);
  background-color: rgba(87, 85, 141, 0.61);
  border-bottom: 2px solid rgba(0, 0, 0, 0.747);
}
.level {
  text-align: center;
  padding: 10px;
  margin: 10px;
  margin-bottom: 5rem;
}

.container-main {
  border: 2px solid black;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  width: 75%;
  margin: 0 auto;
  padding: 1.5rem;
  background: url("../images/wood-bg.jpg") no-repeat center;
  box-shadow: 9px 11px 26px 4px rgba(0, 0, 0, 0.73);
}

.container__content-1 > div {
  border: 2px solid black;
  border-radius: 10px;
  padding: 1rem;
}
.container__content-2 > div {
  border: 2px solid black;
  border-radius: 10px;
  padding: 1rem;
}
.container__content-1 {
  display: flex;
  flex: 1;
  text-align: center;
  width: 50%;
  margin: auto;
  font-size: 2.2rem;
  padding: 0.5rem;
}
.container__content-2 {
  display: flex;
  flex: 1;
  text-align: center;
  width: 50%;
  margin: auto;
  font-size: 2.2rem;
  padding: 0.5rem;
}
.container__content-1:hover {
  cursor: pointer;
}
.container__content-2:hover {
  cursor: pointer;
}
.content-1 {
  flex: 1;
  margin-right: 0.5rem;
}
.content-2 {
  flex: 1;
  margin-right: 0.5rem;
}
.green {
  background: rgba(1, 133, 1, 0.7);
}
.red {
  background: rgba(255, 0, 0, 0.7);
}
.yellow {
  background: rgba(255, 255, 0, 0.7);
}
.blue {
  background: rgba(0, 0, 255, 0.7);
}
.button-container {
  display: flex;
  justify-content: center;
  margin-top: 5vh;
}

#start_button {
  width: 200px;
  border: 2px solid white;
  border-radius: 10px;
  padding: 0.5rem;
  font-weight: bold;
  font-size: 20px;
  color: rgba(133, 15, 133, 0.671);
  background-color: rgba(0, 255, 255, 0.705);
  box-shadow: 9px 11px 26px 4px rgba(0, 0, 0, 0.73);
  text-decoration: none;
  outline: none;
}

#start_button:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.green-glow {
  background: #31b43a;
  border: 6px solid #4dcc7d;
  box-shadow: 0 0 30px #31b43a;
  color: #fff;
}
.red-glow {
  background: #ff1216;
  border: 6px solid #fc121b;
  box-shadow: 0 0 30px #ff1216;
  color: #fff;
}
.yellow-glow {
  background: rgb(248, 252, 10);
  border: 6px solid #e3e618;
  box-shadow: 0 0 30px rgb(248, 252, 10);
  color: #fff;
}
.blue-glow {
  background: #293cc7;
  border: 6px solid #142cdf;
  box-shadow: 0 0 30px #293cc7;
  color: #fff;
}

@media (max-width: 500px) {
  .container-main {
    width: 100%;
  }
  .container__content-1,
  .container__content-2 {
    display: inline;
    padding: 0;
    font-size: 1.5rem;
  }

  .content-1,
  .content-2 {
    margin: 10px;
  }

  .container__content-1 div {
    padding: 0.5rem;
  }

  .container__content-2 div {
    padding: 0.5rem;
  }
}

@media (min-width: 780px) {
  .container-main {
    width: 50%;
  }
}

@media (min-width: 1080px) {
  .container-main {
    width: 500px;
  }
}
