* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #25272E;
}

header {
  background: white;
}

header > h1 {
  text-align: center;
}

.border {
  margin: 100px;
  border: 2px solid white;
  border-radius: 50%;
  padding: 25px;
  display: inline-block;
}

.start_button {
  margin: 20px;
  width: 200px;
  border: 2px solid white;
  padding: 10px;
  position: fixed;
  left: 150px;
  background-color: aqua;
}

.start_button > p {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  color: rgba(133, 15, 133, 0.671);
}

.choice:hover {
  cursor: pointer;
}

.start_button:hover {
  cursor: pointer;
}

.container {
  margin: 10px;
  text-align: center;
}

.choice {
  border: 2px solid white;
  border-radius: 50%;
  display: inline-block;
  padding: 50px;
  margin: 10px;

}

.result > p {
  text-align: center;
  font-weight: bold;
  font-family: sans-serif;
}

#g {
  background: green;
}

#r {
  background: red;
}

#y {
  background: yellow;
}

#b {
  background: blue;
}

.green-glow {
  border: 4px solid #4dcc7d;
  box-shadow: 0 0 10px #31b43a;
}

.red-glow {
  border: 4px solid #fc121b;
  box-shadow: 0 0 10px #d01115;
}

.yellow-glow {
  border: 4px solid #E3E618;
  box-shadow: 0 0 10px #D5D745;
}

.blue-glow {
  border: 4px solid #142CDF;
  box-shadow: 0 0 10px #1F2B89;
}
